/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}



.icon {
  height: 20px;
  width: 20px;
  position: relative;
  top: .4rem;
  margin-left: .3rem;
}
